ALIBABA_CLOUD_ACCESS_KEY_ID=
ALIBABA_CLOUD_ACCESS_KEY_SECRET=
LIVE_DOMAIN=pushn.fheuuw.com
LIVE_APP=sla
LIVE_REGION=ap-southeast-1
STREAM_KEYWORD=Satfeeds
MATCH_API_URL=https://api.sla.homes/lives/getMatches
TEST_PUSH_DOMAIN=pushn.fheuuw.com
TEST_PUSH_AUTH_KEY=
TEST_APP_NAME=Satfeeds
TEST_PLAY_DOMAIN=trial.sla.homes
TEST_PLAY_AUTH_KEY=
