ALIBABA_CLOUD_ACCESS_KEY_ID=
ALIBABA_CLOUD_ACCESS_KEY_SECRET=
LIVE_DOMAIN=pushn.fheuuw.com
LIVE_APP=sla
LIVE_REGION=ap-southeast-1
STREAM_KEYWORD=Satfeeds
MATCH_API_URL=https://api.sla.homes/lives/getMatches
